[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
check-manifest = ">=0.25"
# REMOVE setuptools line once celery 5.2.4 has been released.
setuptools = ">=59.1.1,<59.7.0"

[packages]
ipython = "!=8.1.0"
uwsgi = ">=2.0"
uwsgitop = ">=0.11"
uwsgi-tools = ">=1.1.1"
nr-theses-metadata-sample-app = {path = "./dist/nr-theses-metadata-sample-app-1.0.0.dev1.tar.gz", extras = ["postgresql", "elasticsearch7", "s3"]}
nr-theses-metadata = {path = "./dist/nr-theses-metadata-1.0.0.dev1.tar.gz"}

[requires]
python_version = "3.9"

[pipenv]
# Needed for invenio>v3.5.0a4 and invenio-communities
allow_prereleases = true
